@use './variables' as *;

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/SegoeUILight.ttf');
}

#root {
    width: 100%;
    position: relative;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

body, input, ul, li, h1, h2, h3, h4, p  {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, input{
    background-color: $primary-color; // Использование переменной
    color: $font-color;
    font-family: Poppins-Regular;
}

input, button, textarea {
    box-sizing: border-box;
    font-family: Poppins-Regular;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    background-color: $input-color;
    color: $font-color;
    font-size: 16px;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -3;
}

button {
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    font-weight: bold;
}

button:hover {
    filter: brightness(1.3);
}

.flex-row {
    @extend %flex-base;
}

.flex-col {
    @extend %flex-col;
}

.hide {
    z-index: -10 !important;
    opacity: 0;
}

.block {
    padding-top: 9vh;
    height: 91vh;
}

.main-back {
    height: 100dvh;
    width: 100%;
    position: fixed;
    z-index: -5;
    background: url('/img/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.importantdisplay {
    display: block !important;
}

.relative {
    position: relative;
}

.fixed-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
    transition: opacity .2s linear;

    button {
        background-color: transparent;
        
    }
    &.hidden {
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none; /* Отключаем взаимодействие с кнопкой, когда она скрыта */
    }
      
    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}