$primary-color: #3b3b3b;
$input-color: #1f1e1e;
$form-color: #2b2a2a;
$font-color: #dad9d9;
$button-color: #04122F;

$mobile: 420px;
$tablet: 768px;
$desktop: 1200px;
$normal: 1440px;
$big: 2080;

%flex-base {
    display: flex;
    flex-direction: row;
}

%grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


%flex-col {
    display: flex;
    flex-direction: column;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: ($tablet - 1)) { @content; }
    } @else if $breakpoint == minimobile {
        @media (min-width: 0) and (max-width: ($mobile - 1)) { @content; }    
    }
    @else if $breakpoint == tablet {
        @media (min-width: $tablet) and (max-width: ($desktop - 1)) { @content; }    
    } @else if $breakpoint == desktop {
        @media (min-width: $desktop) and (max-width: ($normal - 1)) { @content; }
    } @else if $breakpoint == normal {
        @media (min-width: $desktop) { @content; }
    } @else if $breakpoint == big {
        @media (min-width: $desktop) { @content; }
    }
}

@keyframes fadeIn {
    from {
        margin-bottom: 150px;
      opacity: 0;
    }
    to {
        margin-bottom: 0px;
      opacity: 1;
    }
  }

@keyframes circle-to-square {
    from {
        font-size: 3.2rem;
    }
    to {
        font-size: 3rem;
    }
}

@keyframes myShadow {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4), 
                    0 0 0 0 rgba(0, 123, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 0 5px rgba(0, 123, 255, 0), 
                    0 0 0 10px rgba(0, 123, 255, 0),
                    0 0 0 20px rgba(0, 123, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(0, 123, 255, 0), 
                    0 0 0 10px rgba(0, 123, 255, 0),
                    0 0 0 20px rgba(0, 123, 255, 0);
    }
}