@use '../variables' as *;

%base-app-menu-button {
    width: 60px;
    height: 60px;
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%relative-center {
    position: relative;
}

.main-app {
    background-image: url('/img/backgroundbig.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    @extend %flex-base;

    & > div {
        height: 100%;
        background-color: $app-bg;
        box-sizing: border-box;
    }

    .app-menu {
        gap: 1em;
        background-color: $app-menu-color;
        min-width: 80px;
    }

    .messages-menu {
        min-width: 300px;
    }

    .actions {
        background-color: transparent;
        width: 100%;
        padding: 2em;
    }

    .member {
        min-width: 80px;
    }
}

.actions-main {
    background-color: $app-bg;
    @extend %w100h100;
    display: flex;
    flex-direction: column;

    .chat-title {
        background-color: $app-bg;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .voice {
            cursor: pointer;
            user-select: none;
            background-color: transparent;
        }

        .voice:disabled svg path{
            stroke: #b5b5b6;
        }

        div svg {
            display: flex;
            align-items: center;
            
        }

        path {
            transition: all .3s ease-in-out;
        }

        .voice:hover svg path{
            stroke: #848891;
        }
    }

    .chat-input {
        background-color: #3F495A;
        display: flex;
        gap: 1em;
        margin: 1em;
        border-radius: 10px;
        padding: 0.5em;
        input {
            display: block;
            width: 100%;
            padding: 0.5em;
            background-color: transparent;
        }
        button {
            width: 40px;
            height: 40px;
            background-size: cover;
            background-color: transparent;
            padding: 0;
        }
        button svg {
            width: 100%;
            height: 100%;
        }
    }

    .messages {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y:scroll;
        word-break: break-all;
        padding: 1em;

        &>div {
            display: flex;
            align-items: end;
            gap: 1em;
        }

        .avatar {
            margin: 0em;
            margin-right: 0;
            padding: 0em;
            display: flex;
            justify-content: end;
        }

        .content {
            position: relative;
            
        }

        h3 {
            background-color: transparent;
            margin: 0.5em;
            padding: 0.5em;
            margin-bottom: 0;
            font-size: 16px;
        }

        div.text {
            margin: 0.5em;
            
            padding: 1em;
            background-color: #3F495A;
            width: fit-content;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            position: relative;
            margin-left: 0.5em;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 16px;
            padding-right: 3em;
        }

        .time {
            position: absolute;
            right: 1.2em;
            bottom: 0;
            font-size: 14px;
        }

        .text::before {
            content: '';
            position: absolute;
            left: -1em;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 1em solid #3F495A;
            border-left: 1em solid transparent;
            border-bottom-left-radius: 10px
        }

        .mess {
            flex-direction: column;

            h3 {
                position: absolute;
            }
        }

        .group {
            padding-top: 3em;
            position: relative;
            h3 {
                position: absolute;
                top: 0;
                left: 4em;
            }
            .mess {
                display: flex;
                gap: 1em;
                .content {
                    width: fit-content;
                }

               .content:not(:last-child) div{
                    border-radius: 10px;
                }
    
                .content .text::before {
                    opacity: 0;
                }
                .content:last-child .text::before {
                    content: '';
                    position: absolute;
                    left: -1em;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-bottom: 1em solid #3F495A;
                    border-left: 1em solid transparent;
                    border-bottom-left-radius: 10px;
                    opacity: 1;
                }
            }

            
        }
    }

    .voice-chat {
        border-top: 1px solid rgba(141, 149, 165, 0.522);
        background-color: rgba(51, 57, 68, 0.5215686275);
        .users {
            display: flex;
            gap: 1em;
            padding: 1em;
            justify-content: center;
            flex-wrap: wrap;
            min-height: 200px;
            li {
                .voice-name  {
                    text-align: center;
                }
            }
        }
        .voice-buttons {
            gap: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;

            button {
                cursor: pointer;
                background-color: transparent
            }
        }
    }
    
}

.app-menu {
    @extend %flex-col;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    
    .avatar, .avatar img, .button-items > div:not(button-items), .exit, .avatar-null {
        @extend %base-app-menu-button;
        border-radius: 100%;
    }

    .button-items {
        @extend %flex-col;
        gap: 4em;
    }

    .button-items > div:not(button-items), .exit, .avatar-null {
        background-color: $button-color;
    }

    .button-item button {
        @extend %relative-center;
        @extend %w100h100;
    }

    .button-item button svg{
        @extend %absolute-center;
        display: inline-block;
    }

    button {
        background-color: transparent;
    }

    .exit {
        @extend %grid-center;
    }
}

.messages-menu {
    @extend %flex-col;
    justify-content: space-between;
    h1 {
        text-align: center;
        padding: 0.1rem;
    }

    h2 {
        padding: 0.3em;
    }

    .messages-menu_list {
        @extend %flex-col;
        height: 100%;
        overflow: hidden;
    }

    .messages-menu_list-group, .messages-menu_list-friends {
        height: 100%;
        overflow-x: scroll;
    }

    .messages-menu_list-search {
        background-color: #30343b;
        position: relative;
        padding: 0.1em;
    }

    .messages-menu_list-search input{
        padding: 0.5em;
        padding-left: 2em;
        font-size: 20px;
        background-color: #3F495A;
        box-sizing: border-box;
    }

    .messages-menu_list-search::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0.5em;
        left: 0.5em;
        background-image: url('/img/button/Find.svg');
        z-index: 2;
    }

   
} 

.group-list {
    @extend %flex-col;
    gap: 1em;
    padding-left: 0.5em;
    
    .group-item {
        @extend %flex-base;
        justify-content: flex-end;
        font-size: 18px;
    }

    .group-item > div {
        padding: 10px 0;
        width: 90%;
        position: relative;
        background-color: #3F495A;
        user-select: none;
        cursor: pointer;
    }

    .active {
        filter: brightness(1.2);
    }

    .group-item__avatar {
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;
        left: -25px;
        top: 0px;
        width: 50px;
        height: 50px;
    }
    .group-item__avatar img {
        width: 50px;
        height: 50px;
    }

    .group-item__name {
        padding-left: 30px;
        padding-right: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.voice-manager {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    button {
        background-color: transparent;
        transition: all 0.3s ease;
    }

    button:hover svg {
        filter: invert(0.5);
    }
}