@use '../variables' as *;

%base-app-menu-button {
    width: 60px;
    height: 60px;
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%relative-center {
    position: relative;
}

.main-app {
    background-image: url('/img/backgroundbig.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    @extend %flex-base;

    & > div {
        height: 100%;
        background-color: $app-bg;
        box-sizing: border-box;
    }

    .app-menu {
       
        background-color: $app-menu-color;
        min-width: 80px;
    }

    .messages-menu {
        min-width: 300px;
    }

    .actions {
        background-color: transparent;
        width: 100%;
        padding: 2em;
    }

    .member {
        min-width: 80px;
    }
}

.actions-main {
    background-color: $app-bg;
    @extend %w100h100;
    display: flex;
    flex-direction: column;

    .chat-title {
        background-color: $app-bg;
        padding: 1em;
    }

    .chat-input {
        display: flex;
        input {
            display: block;
            width: 100%;
            padding: 1em;
        }
        button {
            padding: 1em;
            width: 120px;
            background-color: #30343b;
        }
    }

    .messages {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        overflow-y:scroll;
        word-break: break-all;

        div {
            margin: 1em;
            padding: 0.5em;
            background-color: #30343b;
            width: fit-content;
            border-radius: 10px;

        }
    }
}

.app-menu {
    @extend %flex-col;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    
    .avatar, .avatar img, .button-items > div:not(button-items), .exit, .avatar-null {
        @extend %base-app-menu-button;
        border-radius: 100%;
    }

    .button-items {
        @extend %flex-col;
        gap: 4em;
    }

    .button-items > div:not(button-items), .exit, .avatar-null {
        background-color: $button-color;
    }

    .button-item button {
        @extend %relative-center;
        @extend %w100h100;
    }

    .button-item button svg{
        @extend %absolute-center;
        display: inline-block;
    }

    button {
        background-color: transparent;
    }

    .exit {
        @extend %grid-center;
    }
}

.messages-menu {
    @extend %flex-col;
    justify-content: space-between;
    h1 {
        text-align: center;
        padding: 0.1rem;
    }

    h2 {
        padding: 0.3em;
    }

    .messages-menu_list {
        @extend %flex-col;
        height: 100%;
        overflow: hidden;
    }

    .messages-menu_list-group, .messages-menu_list-friends {
        height: 100%;
        overflow-x: scroll;
    }

    .messages-menu_list-search {
        background-color: #30343b;
        position: relative;
        padding: 0.1em;
    }

    .messages-menu_list-search input{
        padding: 0.5em;
        padding-left: 2em;
        font-size: 20px;
        background-color: #3F495A;
        box-sizing: border-box;
    }

    .messages-menu_list-search::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0.5em;
        left: 0.5em;
        background-image: url('/img/button/Find.svg');
        z-index: 2;
    }

   
} 

.group-list {
    @extend %flex-col;
    gap: 1em;
    padding-left: 0.5em;
    
    .group-item {
        @extend %flex-base;
        justify-content: flex-end;
        font-size: 18px;
    }

    .group-item > div {
        padding: 10px 0;
        width: 90%;
        position: relative;
        background-color: #3F495A;
        user-select: none;
        cursor: pointer;
    }

    .active {
        filter: brightness(1.2);
    }

    .group-item__avatar {
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;
        left: -25px;
        top: 0px;
        width: 50px;
        height: 50px;
    }
    .group-item__avatar img {
        width: 50px;
        height: 50px;
    }

    .group-item__name {
        padding-left: 30px;
        padding-right: 20px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}