/* Основные стили для контейнера статьи */
.article-container {
    width: 100%;
    padding: 2em;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #dfdfdf;
    background-color: #0653a04d;
  }
  
  /* Заголовок статьи */
  .article-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Описание статьи */
  .article-description {
    font-size: 1.2rem;
    color: #dfdfdf;
    margin-bottom: 30px;
  }
  
  /* Стили для главы */
  .chapter {
    margin-bottom: 30px;
  }
  
  /* Заголовок главы */
  .chapter-title {
    font-size: 2rem;
    color: #dfdfdf;
    margin-bottom: 15px;
  }
  
  /* Стили для пункта */
  .section {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  /* Заголовок пункта */
  .section-title {
    font-size: 1.5rem;
    color: #dfdfdf;
    margin-bottom: 10px;
  }
  
  /* Стили для подпункта */
  .sub-section {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  /* Заголовок подпункта */
  .sub-section-title {
    font-size: 1.2rem;
    color: #dfdfdf;
    margin-bottom: 5px;
  }
  
  /* Абзац */
  .paragraph {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }