@use '../variables' as *;
@font-face {
    font-family: 'Sarpanch';
    src: url('/fonts/Sarpanch-Regular.ttf');
}


header {
    height: 80px;
    padding: 0 50px;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    animation: fadeIn 0.3s ease-in-out;
    width: 100%;

    @include respond-to(tablet) {
        padding: 0;
    }
    @include respond-to(desktop) {
        padding: 0;
    }
    @include respond-to(mobile) {
        padding: 0;
    }

    &:not(.header-background) * {
        z-index: 2;
    }

    ul.flex-row {
        gap: 1em;
        font-weight: bold;
        @include respond-to(tablet) {
            flex-direction: column;
            display: none;
        }
        @include respond-to(mobile) {
            flex-direction: column;
            display: none;
            
        }
    }

    ul.flex-col {
        position: absolute;
        top: 80px;
        background-color: #2663df;
        right: 178px;
    }

    ul{
        li {
            padding: 1em;
            cursor: pointer;
            user-select: none;
        }
    }

    li:hover{
        filter: brightness(1.2);
        text-decoration: underline;
    }

    .header-title-app {
        align-items: center;
        position: relative;
        font-family: Sarpanch;
        gap: 1em;
        cursor: pointer;
        user-select: none;
    }

    .header-logo {
        background: url('/img/ico.svg');
        background-size: cover;
        width: 83px;
        height: 85px;
    }

    .logo-background {
        background-color: #04122f94;
        position: absolute;
        width: 90%;
        height: 80px;
        z-index: -1;
        left: 2em;
    }

    .header-title {
        font-size: 32px;
        line-height: 100px;
        height: 100%;
    }

    .header-background {
        background: linear-gradient(to left, #02205C 0% ,  #0E182D 50%,  #02205C 100%);
        opacity: 0.7;
        position: absolute;
        width: 100%;
        height: 80px;
        z-index: 1;
        left: 0;
    }

    .header-button button {
        font-size: 32px;
        background-color: #04122f94;
        padding: 18px;
        font-family: Sarpanch;
    }

    .burger {
        display: none;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 35px;
        right: 200px;
        padding: 0;
        background-color: transparent;
        @include respond-to(tablet) {
            display: block;
        }
        @include respond-to(mobile) {
            display: block;
        }
    }
}

main {
    padding: 1em;
}



