<.header>
  Новый пользователь
  <:subtitle>Форма для добавления записей в таблицу Users</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/users"} />

<.back navigate={~p"/users"}>Назад</.back>