@use '../variables' as *;

@mixin white-border($size) {
    border: $size solid #fff;
}

.logib-logo {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    user-select: none;
}

.login-main {
    max-width: 580px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    min-height: 100vh;

        
    form label, a {
        padding: 0.1em;
        color: $font-color;
        
    }

    a {
        text-decoration: underline
    }
    
    form {
        @extend %flex-col !optional;
        @extend %global-border-radius;
        box-shadow: 0px 0px 15px 5px #ffffff18;
        width: 100%;
        padding: 2em;
        animation: fadeIn 0.3s ease-in-out;
        gap: 1em;
        box-sizing: border-box;
        background-color: #ffffff18;
        
    }
    
    input, button {
        padding: 0.7em;
        background-color: transparent;
        
    }

    input {
        border-bottom: 1px solid #fff;
    }

    button {
        @include white-border(1px);
        display: block;
        @extend %global-border-radius;
        margin: 0 auto;
        width: 50%;
    }

    h1 {
        text-align: center;
        padding: 0.3em;
    }
    
    label[for="first-confirm"] {
        position: relative;
        text-indent: 15px;
        display: block;
        cursor: pointer;
        user-select: none;
    }
    
    label[for="first-confirm"]::before {
        content: '';
        width: 10px;
        height: 10px;
        left: 2px;
        top: 8px;
        position: absolute;
        @include white-border(1px);
    }
    
    input[type="checkbox"]:checked + label[for="first-confirm"]::before {
        background-color: #fff;
    }
    
    .date-container input{
        width: 100px;
    }
    
    .custom-date {
        gap: 1em;
    }

    .custom-option {
        box-sizing: border-box;
    }
    
    .custom-select {
        height: 190px;
        background-color: transparent;
        position: absolute;
        width: 100px;
        z-index: 1;
        overflow: scroll;
        overflow-x: hidden;
        background-color: $button-color;
        top: -190px;
    }
    
    .custom-option {
        padding: 0.5em;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        
        border-bottom: 1px solid #ffffff18;
    }
    
    .custom-option:hover {
        filter: brightness(0.9);
    }
    
   .custom-input__select {
        position: relative;
    }
    
    .email-confirm {
        gap: 1em;
    }
    
    .email-confirm input{
        display: block;
        text-align: center;
    }
    
    .require {
        color: #ffa0a0;
        font-size: 14px;
    }
    
    .errors-container {
        color: #ffa0a0;
        font-size: 14px;
        text-align: center;
    }
    
    .input-container label:has(span.require-err), .date-container label:has(span.require-err){ 
        color:  #ffa0a0;
    }
    
    .form-timer {
        position: absolute;
        font-size: 16px;
        right: 220px;
        top: 5px;
        user-select: none;
    }
    
    .code-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
    }

    .code-button button {
        width: 100%;
        background: transparent;
        @include white-border(1px);
        @extend %global-border-radius;
    }
}

