@use '../variables' as *;

@mixin white-border($size) {
    border: $size solid #fff;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/SegoeUILight.ttf');
}

.logib-logo {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    user-select: none;
}

.login-main {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 2em;
        
    .form {
        width: 100%;
        border: 1px solid #fff;
        background-color: #04122f80;
        @extend %global-border-radius;
        
        animation: fadeIn 0.3s ease-in-out, myShadowBIGWhite 10s infinite ease-in-out;
        padding: 2em;
        box-shadow: 0px 0px 15px 5px #ffffff18;
    }

    form label, a {
        padding: 0.1em;
        color: $font-color;
        
    }

    input {
        position: relative;
        padding: 0.5em;
        padding-left: 4em;
        border: 1px solid #fff;
        
        box-shadow: 0px 0px 15px 5px #ffffff18;
        border-radius: 10px;
    }

    form div:nth-child(1):before, form div:nth-child(2):before, form div:nth-child(3):before, form div:nth-child(4):before, form div:nth-child(5):before {
        content: '';
        padding-left: 1em;
        position: absolute;
        background-image: url('/img/mail.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px 25px;
        width: 36.4px;
        height: 37px;
        filter: invert(1);
        border: 1px solid #000;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    form div:nth-child(2):before {
        background-image: url('/img/lock.svg');
    }

    form div:nth-child(3):before {
        background-image: url('/img/user.svg');
    }

    form div:nth-child(4):before {
        background-image: url('/img/login.svg');
    }

    form div:nth-child(5):before {
        background-image: url('/img/date.svg');
    }

    input[type='date'] {
        width: 190px;
    }

    a {
        text-decoration: underline
    }
    
    form {
        @extend %flex-col !optional;
        @extend %global-border-radius;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
        
    }
    
    form {
        @extend %flex-col !optional;
        @extend %global-border-radius;
        gap: 2em;
        width: 100%;
        
        border-radius: 10px;
        padding: 1em;
    }

    input, button {
        background-color: transparent;
        
    }

    button {
        @include white-border(1px);
        display: block;
        @extend %global-border-radius;
        margin: 0 auto;
        width: 50%;
        padding: 0.5em 1em;
        
    }

    h1 {
        text-align: center;
    }
    
    label[for="policyAgreed"] {
        position: relative;
        text-indent: 15px;
        display: block;
        cursor: pointer;
        user-select: none;
    }
    
    label[for="policyAgreed"]::before {
        content: '';
        width: 10px;
        height: 10px;
        left: 2px;
        top: 8px;
        position: absolute;
        @include white-border(1px);
    }
    
    input[type="checkbox"]:checked + label[for="policyAgreed"]::before {
        background-color: #fff;
    }
       
    .require {
        color: #ffa0a0;
        font-size: 14px;
        text-align: center;
    }
    
    .errors-container {
        color: #ffa0a0;
        font-size: 14px;
        text-align: center;
    }  
}

.email-form {
    position: relative;
}

.email-form button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 30%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}