@use '../variables' as *;

.login-main {
    max-width: 520px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    min-height: 100vh;
}

.logib-logo {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    user-select: none;
}

.login-main form label, .login-main a {
    padding: 0.1em;
    color: $font-color;
}

.login-main form {
    @extend %flex-col !optional;
    background-color: $form-color;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
    animation: fadeIn 0.3s ease-in-out;
}

.login-main form input {
    padding: 0.7em;
}

.login-main form button {
    padding: 0.7em;
}

.login-main h1 {
    text-align: center;
    padding: 0.3em;
}

.login-main a {
    text-align: center;
}

.login-main label[for="first-confirm"] {
    position: relative;
    text-indent: 15px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.login-main label[for="first-confirm"]::before {
    content: '';
    width: 10px;
    height: 10px;
    left: 2px;
    top: 8px;
    position: absolute;
    border: 1px solid #fff;
}

.login-main input[type="checkbox"]:checked + label[for="first-confirm"]::before {
    background-color: #fff;
}

.login-main .date-container input{
    width: 100px;
}

.login-main .custom-date {
    gap: 1em;
}

.login-main .custom-select {
    height: 190px;
    background-color: $input-color;
    position: absolute;
    width: 100px;
    z-index: 1;
    overflow: scroll;
}

.login-main .custom-option {
    padding: 0.5em;
    background-color: $input-color;
    cursor: pointer;
    width: 100%;
}

.login-main .custom-option:hover {
    filter: brightness(0.9);
}

.login-main .custom-input__select {
    position: relative;
}

.email-confirm {
    gap: 1em;
}

.email-confirm input{
    display: block;
}